body{
    font-family: 'Roboto', sans-serif;
}
p{
    font-weight: 700;
    font-style: oblique;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    text-transform: capitalize ;
    text-indent: 42px;
    letter-spacing: 1px;
}
h1{
    text-shadow: 5px 5px 20px blueviolet,10px 10px 60px red;
}
.text{
    font-size: 30px;
    font-weight: 700;
}
.text::first-letter{
    font-size: 50px;
    font-style: italic;
    color: fuchsia;
}
.text::selection{
    background-color: coral;
    color: red;
}